@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

  

body{
    overflow: auto;
   
  }
  
  section {
    height: 100vh;
    
    width: 100%;
    display: grid;
    place-items: center;
  }/*  */
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
  }

  
h3 {
    font-size: 20px;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
  }
  p {
    color: #575a7b;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
  .icon-wrapper {
    background-color: #2c7bfe;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }


.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color:#2c7bfe;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #2c7bfe;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #2c7bfe;
}


.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 200px;
    background: #2c7bfe;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  .nav,
  .nav .nav-links {
    display: flex;
    align-items: center;
  }
  .nav {
    justify-content: space-between;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  .nav .logo {
    font-size: 22px;
    font-weight: 500;
  }
  .nav .nav-links {
    column-gap: 20px;
    list-style: none;
  }
  .nav .nav-links a {
    transition: all 0.2s linear;
  }
  .nav.openSearch .nav-links a {
    opacity: 0;
    pointer-events: none;
  }
  
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: none;
  }
  /* responsive */
  @media screen and (max-width: 1160px) {
    .nav {
      padding: 15px 100px;
    }
  
  }
  @media screen and (max-width: 950px) {
    .nav {
      padding: 15px 50px;
    }
  
  }
  @media screen and (max-width: 768px) {
    .nav .navOpenBtn,
    .nav .navCloseBtn {
      display: block;
    }
    .nav {
      padding: 15px 20px;
    }
    .nav .nav-links {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100%;
      max-width: 280px;
      width: 100%;
      padding-top: 100px;
      row-gap: 30px;
      flex-direction: column;/* 
      background-color: #11101d;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
      transition: all 0.4s ease;
      z-index: 100;
    }
    .nav.openNav .nav-links {
      left: 0;
    }
    .nav .navOpenBtn {
      color: #fff;
      font-size: 20px;
      cursor: pointer;
    }
    .nav .navCloseBtn {
      position: absolute;
      top: 20px;
      right: 20px;
      color: #fff;
      font-size: 20px;
      cursor: pointer;
    }
  
  }