<body class="container-fluid" >

    <nav class=" container-fluid navbar " >
      <div class="container-fluid">
        <a href="#" class="navbar-brand logo">APPWEB MANKAR</a>
         <div class="d-flex">
          <button class="btn btn-primary mx-4" type="submit">Hola {{ Usuario.USUARIO_NOMBRE }}</button>
  
       <!--    <button class="btn btn-secondary mx-4"type="submit" (click)="VerReservas()">Ver mis Reservas</button> -->
          <a href="inicio" class="btn btn-danger " type="submit"  >Cerrar Sesion</a>
         </div>
      </div>
    </nav>
  
    <div class="container-mg">
        <ul class="row align-items-center bg-primary" style="margin-top: 3rem;">
          <li class="col">
            <a [routerLink]="['/principal/:User']">
              <span class="icon"><i class="bi bi-card-checklist"></i></span>
              <span class="name">Agregar Mantenimiento</span>
            </a>
          </li>
            <li class="col"><a href=#><span class="icon"><i class="bi bi-car-front"></i></span><span class="name">LAVADORAS</span> </a></li>
          </ul>
    </div> 
    <div style="margin-bottom: 20px;"></div>
  
    <div class="container-lg mb-8" id="mantenimientos-list">
        <h2>Listado de Mantenimientos</h2>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Kilómetros Actuales</th>
              <th>Kilómetros Próximos</th>
              <th>Comentario</th>
              <th>Fecha</th>
              <th>Imagen</th>
              <th>Imagen2</th>
              <th>Estado</th>
              <th>Placa del Vehículo</th>
              <th>ID del Tipo de Mantenimiento</th>
            </tr>
          </thead>
          <tbody>
            <!-- Utiliza *ngFor para iterar sobre la lista de mantenimientos y mostrarlos en la tabla -->
            <tr *ngFor="let Mantenimiento of Mantenimiento">
              <td>{{ Mantenimiento._id}}</td>
              <td>{{ Mantenimiento.MANTENIMIENTO_KMAC }}</td>
              <td>{{ Mantenimiento.MANTENIMIENTO_KMPROX }}</td>
              <td>{{ Mantenimiento.MANTENIMIENTO_COMENTARIO }}</td>
              <td>{{ Mantenimiento.MANTENIMIENTO_FECHA }}</td>
              <td>{{ Mantenimiento.MANTENIMIENTO_IMAGEN }}</td>
              <td>{{ Mantenimiento.MANTENIMIENTO_IMAGEN2 }}</td>
              <td>{{ Mantenimiento.ESTADO }}</td>
              <td>{{ Mantenimiento.UNIDADES_PLACA }}</td>
              <td>{{ Mantenimiento.TIPOSMANTE_ID}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
    <footer class="row">
      <p class="mb-0 w-100 text-center col-12">
      &copy; The Backyardigans </p>
    </footer>
  
  
  </body>