<div class="container-index">
  <header>
    <a href="#" class="logo">APPWEB MANKAR</a>
    <div class="d-flex">
      <a class="btn btn-dark" href="#"> ADMINISTRADOR</a>
    </div>
  </header>

  <div class="contenido">
    <div class="contenidobx">
      <h2>Mankar web <br /></h2>
      <p>
        <b
          >Bienvenido a Mankar Web, la solución integral para la gestión de
          flotas de transporte de carga pesada.<br />
          Simplifica la gestión de mantenimientos, flotas, choferes, combustible
          y repuestos. Descubre cómo Mankar Web puede llevar tu negocio al
          siguiente nivel.
          <br />
        </b>
      </p>
      <a class="btn btn-primary" href="/inicio-sesion"><b>INICIAR SESION</b></a>
    </div>
  </div>
</div>
